body {
    background-color: #01162A;
}

.enlace {
    color: white;
    text-decoration: none;
    /* Quita el subrayado predeterminado */
    position: relative;
    /* Para permitir posicionar el subrayado */
}

/* Estilo para el subrayado */
.enlace::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    /* Ajusta la posición del subrayado */
    width: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgb(0, 217, 255), rgb(87, 66, 242));
    transition: width 0.3s;
    /* Agrega una transición suave */
}

/* Cambia el ancho del subrayado cuando el mouse pasa sobre el enlace */
.enlace:hover::after {
    width: 100%;
}

.enlace:hover {
    background-image: linear-gradient(to right, rgb(0, 217, 255), rgb(87, 66, 242));
    /* Cambia el color de fondo al pasar el mouse */
}

.habilidades {
    border: 1px solid rgb(60, 47, 158);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.card-disrexia {
    background: rgb(68, 51, 40);
    background: linear-gradient(0deg, rgba(68, 51, 40, 1) 35%, rgba(119, 221, 119, 1) 100%);
}

.card-panecito {
    background: rgb(181, 151, 65);
    background: linear-gradient(0deg, rgba(181, 151, 65, 1) 11%, rgba(20, 20, 20, 1) 75%);
}

.card-diufo {
    background: url(../img/bg-login-movil.jpg) no-repeat center;
}

.card-marvel {
    background: rgb(13, 13, 13);
    background: linear-gradient(0deg, rgba(13, 13, 13, 1) 28%, rgba(255, 0, 0, 1) 80%);
}

.card-zrunner {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(3, 86, 87, 1) 100%);
}